bs4==0.0.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
msgpack==1.0.5
pyensign>=0.8.0b0
spacy==3.6.0
textblob==0.17.1